.container {
  width: 100%;
  overflow: hidden;
  background: white;
  margin: 20px auto;
  padding: 20px 0px;

}

.box{
  padding: 0px;
  margin: 0px;
}

.inside-box{
  list-style: none;
  float: left;
  width: 20%;
  height: 200px;
  border-style: solid;
  border-color: grey;
  background: white;
  margin: 40px 70px 40px 40px;
}

.grid-box{
  list-style: none;
  float: left;
  width: 40%;
  height: 200px;
  border-style: solid;
  border-color: grey;
  background: white;
  margin: 40px 40px 40px 40px;
}

.inside-box:hover{
  opacity:0.9;
}

.title {
  width: 100%;
  padding: 70px 0;
  line-height: 50px;
  background: white;
  text-align:center;
}

@media screen and (max-width:1200px){
  .inside-box {
    width:30%;
    height: 200px;
    margin: 40px 40px 40px 40px;
  }
}

button {
  width:50%;
  margin-left:25%;
  margin-right:25%;
}

.circle {
  border-radius: 50%;
  border-style: solid;
  border-color: grey;
  width: 200px;
  height: 200px;
  /* width and height can be anything, as long as they're equal */
}
