<div class="container">

  <div class="row">
    <div class="col-md-3">
      <select class="form-control form-control-lg">
        <option>Popularity</option>
      </select>
      <select class="form-control form-control-lg">
        <option>Dates</option>
      </select>
      <select class="form-control form-control-lg">
        <option>Genre</option>
      </select>
    </div>

    <div class="col-md-9">
      <div class="col-md-12">
        <form action="" accept-charset="UTF-8" method="get">
            <div class="input-group">
                <input type="text" name="search" id="search" placeholder="Search Events" class="form-control">
                <span class="input-group-btn">
                    <input type="button" name="commit" value="Search" class="btn btn-info" data-disable-with="Search">
                 </span>
            </div>
        </form>
      </div>
      <div class="box">
        <div class="grid-box">
          <div class="title">Event</div>
        </div>
        <div class="grid-box">
          <div class="title">Event</div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="circle">
        <div class="title">Up Coming Event</div>
      </div>
      <br>
      <br>
      <div class="circle">
        <div class="title">Future Line Ups</div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="box">
        <div class="inside-box">
          <div class="title">Event</div>
          <button class="btn btn-info">Book</button>
        </div>
        <div class="inside-box">
          <div class="title">Event</div>
          <button class="btn btn-info">Book</button>
        </div>
        <div class="inside-box">
          <div class="title">Event</div>
          <button class="btn btn-info">Book</button>
        </div>
        <div class="inside-box">
          <div class="title">Event</div>
          <button class="btn btn-info">Book</button>
        </div>
        <div class="inside-box">
          <div class="title">Event</div>
          <button class="btn btn-info">Book</button>
        </div>
      </div>
    </div>
  </div>

</div>
