<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-body">
        <img class="card-img-top img-responsive" src="assets/img/avatar.png" alt="No image found" />
        <h6>Upload Picture</h6>
        <input type="file" name="avatar" class="form-control-file" (change)="onFileSelected($event)"
          [(ngModel)]="form.avatar" />
      </div>
      <br />
      <h4>Username</h4>
      <br />
      <button class="btn btn-primary">Gallery</button>
    </div>
    <div class="col-md-9">
      <div class="card card-body">
        <form #profileForm="ngForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName3">Name & Surname</label>
              <input type="text" name="name" class="form-control" id="inputName3" placeholder="Name & Surname"
                [(ngModel)]="form.name" required />
            </div>
            <div class="form-group col-md-6">
              <label for="inputName3">Username</label>
              <input type="text" name="username" class="form-control" id="inputName3" placeholder="Username"
                [(ngModel)]="form.username" required />
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3">Email</label>
            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email"
              [(ngModel)]="form.email" required />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Age</label>
              <input type="text" name="age" class="form-control" id="inputCity" placeholder="Age" [(ngModel)]="form.age"
                required />
            </div>
            <div class="form-group col-md-6">
              <label for="inputState">Gender</label>
              <select id="inputState" name="gender" class="form-control" placeholder="Gender" [(ngModel)]="form.gender"
                required>
                <option selected>Choose...</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Location</label>
              <input type="text" name="location" class="form-control" id="inputCity" placeholder="Location"
                [(ngModel)]="form.location" required />
            </div>
            <div class="form-group col-md-6">
              <label for="inputState">Interest</label>
              <select id="inputState" name="interest" class="form-control" placeholder="Interest"
                [(ngModel)]="form.interest" required>
                <option selected>Choose...</option>
                <option>Gospel</option>
                <option>Amapiano</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">About</label>
            <textarea class="form-control" name="about" id="exampleFormControlTextarea1" rows="3" placeholder="About"
              [(ngModel)]="form.about" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary float-right" [disabled]="!profileForm.valid">
            Complete Profile
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
