
<h2 style="text-align:center">Package Pricing</h2>

<div class="columns">
  <ul class="price">
    <li class="header">Total</li>
    <li class="grey">R 95 / PM</li>
    <li>PREMIUM SUITE (5 events per month) outdoor & lifestyle activities</li>
    <li>VIP BENEFITS</li>
    <li>FULL ENTRY</li>
    <li>DRINKS PASS</li>
    <li class="grey"><a href="#" class="button">SUBSCRIBE</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#007bff">Access</li>
    <li class="grey">R 99 / PM</li>
    <li>Multiple Access (4 events per month) outdoor & lifestyle activities</li>
    <li>SA's best events</li>
    <li>BASIC ENTRANCE</li>
    <li>Carried over Benefits</li>
    <li class="grey"><a href="#" class="button">SUBSCRIBE</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Granted</li>
    <li class="grey">R 100 / PM</li>
    <li>Few events (3 events per month) outdoor & lifestyle activities</li>
    <li>Discounted Prices</li>
    <li>Free events perks</li>
    <li>Meetups and community</li>
    <li class="grey"><a href="#" class="button">SUBSCRIBE</a></li>
  </ul>
</div>
