<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Navbar</a>
  <div>
    <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn">Login</a>
    <a class="navbar-brand" routerLink="home" *ngIf="loggedIn">Home</a>
    <a class="navbar-brand" routerLink="profile" *ngIf="loggedIn">Profile</a>
    <a class="navbar-brand" routerLink="pricing" *ngIf="loggedIn">Pricing</a>
    <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
  </div>
</nav>
